<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="https://cdn.rawgit.com/ricmoo/aes-js/e27b99df/index.js"></script>
    <script type="text/javascript" src="/javascript/crypt.js"></script>
    <title>Pribin</title>
</head>
<body>
    <div>
        <textarea name="text" cols="50" rows="20" id="text" type="text"></textarea>
    </div>
</body>

<script>
    const keySize = 16;
// https://stackoverflow.com/questions/47206693/encrypt-aes-gcm-in-javascript-decrypt-in-java

    function decryptMessage(cipher, key) {
        // ---- Decrypt
        // Decode the url to get the url (b64 -> Uint8Array)
        const _key = new Uint8Array(b642str(key).split('').map(x => x.charCodeAt(0)));
        const decoded = decryptText(cipher, _key);

        console.log(cipher);
        console.log(_key)
        console.log(key)
        console.log(decoded);

        document.getElementById('text').value = decoded;
    }

    window.onload = () => {
        const key = window.location.hash.substring(1);
        const hash = `<%= hash %>`;
        const requirePass = <%= requirePass %> || 0;
        if(requirePass)
            console.warn("REQUIRE PASSWORD BRO");

        console.log(key, hash);
        fetch('/api/v1/message/' + hash, { method: 'GET', })
            .then(x => x.json())
            .then(x => {
                console.log(x);
                decryptMessage(x.message.content, key);
            });
    }
</script>

</html>